@import '../components/typography.css';

.todo__container{
    width: 50%;
    background: white;
    border-radius: 0.5rem;
}
.todo__header{
    padding: 2rem;
    border-bottom: 1px solid #e4e5f1;
    background: white;
    border-radius: 0.5rem 0.5rem 0 0;
}
.todo__title{
    margin: 0 0 1.5rem 0;
}
.todo__empty{
    padding: 1rem 2rem;
}
.todo_add{
    display: flex;
}
.todos{
    max-height: 250px;
    overflow: auto;
}
.todo__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}