@import '../components/typography.css';

.todo__container{
    width: 95%;
    background: white;
    border-radius: 0.5rem;
}
.todo__header{
    padding: 1rem;
    border-bottom: 1px solid #e4e5f1;
    background: white;
    border-radius: 0.5rem 0.5rem 0 0;
}
.todo__title{
    margin: 0 0 1rem 0;
}
.todo__empty{
    padding: 0.5rem 2rem;
}
.todo_add{
    display: flex;
}
.todos{
    max-height: 250px;
    overflow: auto;
}
.todo__footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    border-top: 1px solid #e4e5f1;
}



@media (min-width: 426px){
    .todo__container{
        width: 80%;
    }
    .todo__header{
        padding: 2rem;
    }
    .todo__title{
        margin-bottom: 1.5rem;
    }
    .todo__footer{
        padding: 1rem 2rem;
    }
    .todo__footer{
        flex-direction: row;
    }
}

@media (min-width: 1024px){
    .todo__container{
        width: 60%;
    }
}