@import '../components/button.css';
@import '../components/typography.css';

.todo__footer{
    border-top: 1px solid #e4e5f1;
}
.footer_nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}